<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="New Target Platform" sequenceNumber="13">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava.sdk.feature.feature.group" version="11.0.1"/>
<unit id="com.google.guava.runtime.feature.feature.group" version="11.0.1"/>
<repository location="http://guava-osgi.googlecode.com/svn/trunk/repository/"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>en_IE</nl>
</environment>
</target>
